@charset "UTF-8";

body {
    margin: auto;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color: white;
}

.selfie {
    border-radius: 50%;
}
.flex-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
div.main {
    background-color: rgba(4, 77, 95, 0.75);
    margin: 10%;
    flex-direction: row;
    border-radius: 20px;
}

div.pic {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    flex-basis: 200px;
}

div.headline {
    flex-grow: 6;
    padding: 0 2em;
    flex-basis: 400px;
}
div.contact {
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 300px;
}

img {
    margin: auto;
    padding: 2.5em;
}


div.contact li {
    list-style: none;
}

img.qr {
    max-height: 150px;
}

/* debug setting */

/*
div {
    border: 1px solid red;
}
*/